<div class="card d-flex">
  <div class="card-body">
    <button mat-raised-button (click)="openCompagnieDialog()">Créer une compagnie</button>
    <button mat-raised-button (click)="openAgentDialog()">Ajouter un périphérique</button>
  </div>
</div>

<div class="card d-flex" *ngFor="let compagnie of compagnies | filterCompagnies">
  <div class="card-body">
    <h5 class="card-title">{{ compagnie.name }}</h5>
    <button class="toggle-button" (click)="toggleExpand(compagnie)">
      {{ compagnie.isExpanded ? '&#9650;' : '&#9660;' }}
    </button>
    <div *ngIf="compagnie.isExpanded">
      <div *ngFor="let poste of compagnie.postes">
        <app-poste-card [poste]="poste"></app-poste-card>
      </div>
    </div>
  </div>
</div>
