.card-title {
  font-weight: bold;
  font-size: 1.5rem;
  color: #031b22; /* Bleu similaire à celui d'AKEMA */
}

.toggle-button {
  background-color: transparent;
  border: none;
  color: #007BFF;
  font-size: 1.2rem;
  cursor: pointer;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button:active {
  background-color: transparent;
  color: #007BFF;
}

.gray-background {
  background-color: #e2e0e0; /* Light gray background color */
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; /* Espace entre les cartes */
  justify-content: center; /* Centrer les cartes */
}

.card-item {
  flex: 1 1 calc(20% - 16px); /* 5 cartes par ligne */
  box-sizing: border-box;
  width: calc(20% - 16px); /* Taille fixe */
}

@media (max-width: 992px) {
  .card-item {
    flex: 1 1 calc(33.333% - 16px); /* 3 cartes par ligne sur les écrans plus petits */
    width: calc(33.333% - 16px); /* Taille fixe */
  }
}

@media (max-width: 768px) {
  .card-item {
    flex: 1 1 calc(50% - 16px); /* 2 cartes par ligne sur les écrans encore plus petits */
    width: calc(50% - 16px); /* Taille fixe */
  }
}

@media (max-width: 576px) {
  .card-item {
    flex: 1 1 100%; /* 1 carte par ligne sur les écrans encore plus petits */
    width: 100%; /* Taille fixe */
  }
}

.add-site-button {
  background-color: #3f51b5; /* Couleur de fond plus foncée */
  color: white; /* Couleur du texte */
  width: auto; /* Largeur automatique */
  padding: 10px 20px; /* Padding pour ajuster la taille du bouton */
  border-radius: 4px; /* Bordures arrondies */
  font-weight: bold; /* Texte en gras */
}

.add-site-button:hover {
  background-color: #225ca7; /* Couleur de fond plus foncée au survol */
}
